<!DOCTYPE html>
<html>
  <head>
    <title>Nycbnb</title>

    <%= csrf_meta_tags %>
     <link href="http://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">


   <%= stylesheet_link_tag    'application', media: 'all' %>
   <%= javascript_include_tag 'application' %>


   <script src="<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_maps_api_key']}&libraries=places" %>">
   </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
